// THEME VARIABLES

// Default theme (light)
$theme-background: #ffffff;
$theme-on-surface: #ebebeb;
$theme-body-secondary: #828282;
$theme-body-primary: #111111;
$theme-increase: #35b433;
$theme-decrease: #e74c3c;

// Margins
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: 32px;
$margin-xxl: 64px;

// Font stack
$sans-serif: "Montserrat", sans-serif;

// Font sizes
$font-body: 14pt;
$font-brand: 20pt;
$font-h1: 24pt;

// Font weights
$regular: 400;
$medium: 500;
$bold: 700;
