@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");
@import "./sass/reset.scss";
@import "./sass/breakpoints.scss";
@import "./sass/variables.scss";

// Globals start
body {
  font-family: $sans-serif;
  font-weight: $medium;
  color: $theme-body-primary;
  background: $theme-background;
  -webkit-text-size-adjust: 100%; //fix for iOS
  margin: 0 15vw; //change later
}

.brand {
  font-size: $font-brand;
  font-weight: $medium;
}

p {
  font-size: $font-body;
}

p.small {
  font-size: $font-small;
}

h1 {
  font-size: $font-h1;
  font-weight: $medium;
}

// Header component
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  .select {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $theme-on-surface;
    position: relative;
    border-radius: 8px;

    select {
      appearance: none;
      border: none;
      background-color: transparent;
      padding: 8px 26px 8px 8px;
      font-family: "Montserrat", sans-serif;
      font-size: $font-small;
      font-weight: $medium;
      cursor: pointer;

      option {
        background-color: $theme-on-surface;
      }
    }
    svg {
      position: absolute;
      right: 6px;
      pointer-events: none;
    }
  }
}

// Search component
.search-container {
  margin-top: $margin-xxl;

  form {
    input {
      width: 100%;
      font-family: $sans-serif;
      font-size: $font-body;
      font-weight: $medium;
      padding: $margin-lg;
      border-radius: 8px;
      border: none;
      background-color: $theme-on-surface;
    }
  }
}

// Coin component
.coins-container {
  margin-top: $margin-xxl;
  display: flex;
  flex-direction: column;
  gap: $margin-sm;

  .coin-container {
    display: flex;
    justify-content: space-between;
    background-color: $theme-on-surface;
    padding: $margin-sm;
    border-radius: 8px;
    font-size: $font-body;

    .coin-info {
      display: flex;
      align-items: center;

      .coin-rank {
        margin-right: $margin-lg;
      }
      .coin-image {
        height: 32px;
        width: 32px;
        margin-right: $margin-md;
      }
      .coin-name {
        margin-right: $margin-sm;
      }
      .coin-ticker {
        text-transform: uppercase;
      }
    }
    .coin-data {
      display: flex;
      align-items: center;
      width: 50%;

      .coin-price {
        flex: 1;
      }
      .coin-price-change {
        flex: 1;
      }
      .coin-market-cap {
        flex: 2;
        align-self: flex-end;
      }
    }
  }
}
